<p id="notice"><%= notice %></p>

<p>
  <%= link_to image_tag(@pin.pin_image.url(:medium)), @pin %>
  <br>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
